body {
    background-color: antiquewhite;
    color:darkgreen;
    text-align: center;
    text-size-adjust: 42px;
    font-size: 150px;
}
#line1 {
    transition-duration: 3s;
}
#line1:hover {
scale: 1.6;
}

#line2 {
transition-duration: 2s;
transition-delay: .25s;
}

#line2:hover {
 transform: scale(1.8);
}

#line2:hover #still {
   opacity: 2;
}
#still {
 opacity: 0;
}


