body {
    background-color: rgb(247, 247, 162);
    text-align: left;
    text-size-adjust: 42px;
    font-size: 150px;
}
#pageTwo {
    display: flex;
}

.fisherman {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* page 2*/

#cold {
    opacity: 0;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-name: cold;
}

/*#cold:hover {
    opacity:2;
    transition-timing-function: 2s;
    color: blue;
    font-weight: 300;
   
}*/
#negatif {
    color:red;
}

#sea{
    font-style: oblique;
    color:rgb(109, 109, 251);
}

#sea span {
    display: inline-block;
    font-size: 39;
    animation: wave 2s ease-in-out infinite;
}
#sea span:nth-child(1) {
    animation-delay: 0s;
}
#sea span:nth-child(2) {
    animation-delay: 0.2s;
}
#sea span:nth-child(3) {
    animation-delay: 0.4s;
}
#sea span:nth-child(4) {
    animation-delay: 0.6s;
}
#warsline {
    font-size: 36px;
    background-color: linear-gradient(to right, red, yellow);

}
#cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}

@keyframes cold {
    from {
        opacity: 0;
    }
    to {
        opacity: 2;
        color: blue;
    }
}
@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
